*{
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
h1{
    border: 2px dashed rgb(0, 85, 255);
    color: red;
    font-weight: bold;
    width:30%;
    height:auto;
    padding: 20px;
    margin: 50px auto;
    background-color: rgba(109, 72, 72, 0.562);
    text-align: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}
li{
    border: 2px dashed rgb(0, 255, 106);
    font-weight: bold;
    width:200px;
    height:auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(255, 0, 0);
}
a{
    color: rgb(255, 242, 0);
}
img{
    display: block;
    margin: 20px auto;
    width: 300px;
    height: auto;
}